html {
  background-color: #404040;
  background: url(https://c4.wallpaperflare.com/wallpaper/224/650/497/abstract-pattern-floral-dark-background-wallpaper-preview.jpg);
}

div {
  border: black 3px solid;
}

img {
  border: blue 5px groove;
}

input {
  background-color: silver;
  font-family: fantasy;
}

.App {
  text-align: center;
  background-color: limegreen;
  border: silver 3px groove;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
